<div class="parent">
  <div class="item">
    <div class="subItem"><h1>{{title}}</h1></div>
    <div class="subItem"><p>Enter names / emails (one per line)</p></div>
  </div>

  <div class="item">
    <div class="subItem"><p>Enter the text. The following substitutions are valid:</p>
    </div>
    <div class="subItem">
      <form action="/" method="post">
        <input type="textarea" name="unHipText" id="textBox" label="type your regular boring text here">
        <input type="submit" id="submitBtn" value='Preview'>
    </div>
    <div class="subItem">
      <form action="/" method="post">
        <input type="textarea" name="unHipText" id="textBox" label="type your regular boring text here">
        <input type="submit" id="submitBtn" value='Preview'>
    </div>
    <div class="subItem">
      <form action="/" method="post">
        <input type="textarea" name="unHipText" id="textBox" label="type your regular boring text here">
        <input type="submit" id="submitBtn" value='Preview'>
    </div>
</div>