<div class="parent">
  <div class="item">
    <div class="subItem"><h1>{{title}}</h1>
      <h3>Enter names / emails (one per line)</h3>
    </div>
    <div class="subItem">
      <form action="/preview" method="post">
        <input type="textarea" name="recipient" id="recipient" value="Kolbey,Pruitt,k0lb3y@gmail.com" autofocus>
        </input>
    </div>
  </div>
  <div class="item">
    <div class="subItem">
      <div class="pSmall">
        <h3>Enter the text. The following substitutions are valid:</h3>
          <li>{first}</li>
          <li>{last}</li>
          <li>{email}</li>
      </div>
    </div>
    <div class="subItem">
      <form action="/preview" method="post">
        <input type="textarea" name="subject" id="subject" value="subject">
        </input>
          <p></p>
        <input type="textarea" name="emailBody" id="emailBody" value="body">
        <input type="submit" class="btn" value='Preview'>
    </div>
    <div>
      <table>
        <tr>
          <td>{{email.first_name}}</td>
          <td>{{email.last_name}}</td>
          <td>{{email.address}}</td>
        </tr>
      </table>
    </div>
</div>



