<div class="parent">
  <div class="item">
    <div class="subItem"><h1>{{title}}</h1>
      <h3>Enter names / emails (one per line)</h3>
    </div>
    <div class="subItem">
      <form action="/preview" method="post">
        <textarea name="recipient" id="recipient" autofocus></textarea>
    </div>
  </div>
  <div class="item">
    <div class="subItem">
      <div class="pSmall">
        <h3>Enter the text. The following substitutions are valid:</h3>
          <li>{first}</li>
          <li>{last}</li>
          <li>{email}</li>
      </div>
    </div>
    <div class="subItem">
      <textarea name="subject" id="subject">Email subject should go here.</textarea>
      <textarea name="emailBody" id="emailBody">This is where your email body should go.</textarea>
    </div>
      <input type="submit" class="btn" value='Preview'></input>
    </form>
  </div>
</div>

  {{#each emails}}
  <div class="emailprv">
    <p>{{recipient}}</p>
    <p>{{subject}}</p>
    <p>{{emailBody}}</p>
  </div>
  {{/each}}



