.parent {
  border: 10px red;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: green;
  align-content: stretch;
}
.item {
  width: 50%;
  margin: 10px;
  background: blue;
  color: white;
  line-height: 50px;
  flex-direction: column;
  justify-content: stretch;
  align-content: stretch;
}
.subItem {
  height: 50%;
  margin: 5px;
  background: orange;
  flex-direction: row;
  align-content: stretch;
  justify-content: stretch;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
